root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{scala,sc,scalafmt.conf,scalafix.conf,sbt}]
indent_style = space
indent_size = 2

[*.{gradle,kts,java,kt,json,yml,yaml,md,properties,conf}]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.bat]
end_of_line = crlf
